<button [disabled]="isLoading" (click)="onFetchButtonClick()">
  <ng-container *ngTemplateOutlet="isLoading ? loading : buttonReady"></ng-container>
  <ng-template #buttonReady>Fetch Poems</ng-template>
  <ng-template #loading>
    <span class="dots">
      <span class="dot-1"></span>
      <span class="dot-2"></span>
      <span class="dot-3"></span>
    </span>
  </ng-template>
</button>
<div *ngIf="poems else pressButton" class="poems-box">
  <ul *ngIf="poems.length else noItems" class="poems-list">
    <li *ngFor="let poem of poems" (click)="selectedPoem = poem" class="poem-entry">
      <h3 class="title">{{poem.title}}</h3>
      <small class="author">{{poem.author}}</small>
    </li>
  </ul>
  <ng-template #noItems>
    <p class="no-poems">
      that's weired! no poems to display!
    </p>
  </ng-template>
  <div *ngIf="poems.length" class="preview-box">
    <app-poem-preview *ngIf="selectedPoem else noSelectedPoem" [poem]="selectedPoem"></app-poem-preview>
    <ng-template #noSelectedPoem>
      <p>Pick a poem from the list!</p>
    </ng-template>
  </div>
</div>
<ng-template #pressButton>
  <p class="intro">
    press the button to see some magic happen!
  </p>
</ng-template>
