:host {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.fetch {
  background-color: #fff;
  outline: 0;
  border: 1px solid #5eb75e;
  padding: 8px;
  border-radius: 4px;
  width: 150px;
  color: #5eb75e;
  cursor: pointer;
}

.fetch:disabled {
  cursor: default;
  border: 1px solid #8db28d;
  color: #8db28d;
}

.fetch:not(:disabled):hover {
  background-color: #5eb75e;
  color: #fff;
}

.dots span {
  display: inline-block;
  background: #a5247a;
  width: 3px;
  height: 3px;
  margin: 0 2px;
  padding: 0;
  border-radius: 50%;
  animation: dot-bob .8s ease-in infinite;
}

.dots .dot-2 {
  animation-delay: .7s;
}

.dots .dot-3 {
  animation-delay: 1.3s;
}

.poems-box {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  border-top: 10px groove #f1f1f1;
  border-bottom: 10px ridge;
  padding: 10px 0;
  border-radius: 4px;
  margin-top: 10px;
}

.poems-box .poems-list {
  width: 50%;
  list-style-type: none;
  overflow-y: auto;
  margin: 0;
}

.poems-box .preview-box {
  width: 50%;
  overflow: hidden;
  padding: 0 20px;
}

.poems-box .poem-entry {
  border-bottom: 1px grey dotted;
  padding: 10px 20px;
  background-color: #e5e2e2;
  cursor: pointer;
}

.poems-box .poem-entry:hover, .poems-box .poem-entry.selected {
  background-color: #fff;
}

.poems-box .poem-entry:last-of-type {
  border-bottom: none;
}
